body{
    margin: 0;
    padding-bottom: 20px;
}

.is-hidden{
    display: none;
}

.gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-row-gap: 170px;
    grid-column-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 170px;
}

.photo-card {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
    transform: scale(1.03);
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery-link:hover {
    cursor: zoom-in;
}

.load-more{
    border-radius: 4px;
    border: none;
    background-color: #ff2143;
    color: #ffffff;
    height: 20px;
    min-width: 100px;
    cursor: pointer;
}

.load-more:hover,
.load-more:focus{
    background-color: #ff2122;
}

.button-container{
    display: flex;
    justify-content: center;
}

.search-form{
    min-height: 50px;
    background-color: #ff2143;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-btn{
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    height: 20px;
    min-width: 100px;
    cursor: pointer;
    margin-left: 10px;
}

.search-btn:hover {
    color: #ff2122;
}

input{
    outline: none;
}